body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

#nav-header {
    display: flex;
    justify-content: space-between;
    background-color: brown;
    border-color: black;
    padding: 1rem;
}

.nav-logo-header {
    display: flex;
    align-items: center;
}

.nav-links-header {
    display: flex;
    align-items: center;
}

.nav-auth-header {
    display: flex;
    justify-content: start;
    align-items: center;
}


#page-footer {
    position: fixed;
    bottom: 0;
    background-color: brown;
    width: 100%;
}

#main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pop-up-register {
    background-color: blue;
    width: 400px;
    height: 200px;
    display: inline-block;
}